#banner h1 {
    font-size: 2.5em;
}

h2{
    font-size:1.3em;
}

#one {
    padding-top: 5.0em;
}


.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 27.5%;
    height: auto;
    padding-top:0.25em;
    border-radius: 30px;

}
.features li {

    width: 50%;
}
.big-icon {
    font-size: 32px;
}

.background-transparent {

  transparent:0.5;
}
